<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <title>
            Hello
        </title>
    </head>
    <body>
        <div id="top_part">
            <span id="image"></span>
            <div id="c_chatbot">
                Conversational <br>Chatbot<br>
                <span id="about"><br><br>Hey! Meet Sam, our chatbot, who will help you find professors in the MCA block.</span>
            </div>
        </div>
        
      
        <div id="working">
            <h2 id="title1"><center>Working</center></h2>
            <ul>
            <li>The Machine Learning-powered chatbot works on an intents-based model.</li> 
            <li>The ML models were created with the help of NTLK and PyTorch 2.0.</li>
            <li> The Python framework, Flask, serves as the backend.</li>
            </ul>
        </div>
        <h2></h2>
        <div id="features">
            <h2 id="title2"><center>Features</center></h2>
            <ul>
            <li>Sam allows you to converse with him via text or audio.</li> 
            <li>He also responed both, via text and audio.</li> 
            <li>Right now Sam speaks only English, but we plan on adding some Indian langauges too.</
            </ul>
        </div>
        <h2></h2>
        <div id="talk_to_sam"> 
            <h2 id="title3"><center>Talk to Sam</center></h2>
            <ul>
           <li> Conversing with Sam 
            is very easy and 
            intuitive.</li><li> To start off,
            press the little chat icon in the corner.</li><li> Then, type your question, and press Enter.</li><li> Or press the 
            microphone option and
            directly speak to Sam.
            </ul>
        </div>

            <div id="top_part">
                <span id="image"></span>
                <div id="c_chatbot">
                    Conversational <br>Chatbot<br>
                    <span id="about"><br><br>Hey! Meet Sam, our chatbot, who will help you find professors in the MCA block.</span>
                </div>
            </div>
            <div class="chatbox">
                <div class="chatbox__support">
                    <div class="chatbox__header">
                        <div class="chatbox__image--header">
                            <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                        </div>
                        <div class="chatbox__content--header">      
                            <h4 class="chatbox__heading--header">Chat support</h4>
                            <p class="chatbox__description--header">Hi. My name is Sam. How can I help you?</p>
                        </div>
                    </div>
                    <div class="chatbox__messages">
                        <div></div>
                    </div>
                    <div class="chatbox__footer">
                        <input type="text" placeholder="Write a message..." id="entry">
         
                        <button class="voice_button"><img src="./static/images/newrecord.png" id="changing_img" width="30"></button>
         
                    </div>  
                </div>
                <div class="chatbox__button">
                    <button><img src="./static/images/chatbox-icon.svg" /></button>
                </div>
            </div>
        </div>
        <script>
            $SCRIPT_ROOT = {{ request.script_root|tojson }};
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

    </body>
</html>